/* CSS for All */

h3 {
  font-size: 1.5rem;
}

.float-text {
  position: absolute;
  bottom: 50px;
  left: 40%;
}
fieldset {
  border: 1px solid black;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

/* all css ends  */

/*Food search  */

.food-search {
  background-image: none;
}
/* food search ends */

/* Categories */
.search-box {
  border: 1px solid grey;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* Categories ends */

/*  Food Menu */
.food-menu {
  background-color: #ececec;
  padding: 4% 0;
}
.food-menu-box {
  width: 43%;
  margin: 1%;
  padding: 2%;
  float: left;
  background-color: white;
  border-radius: 15px;
}

.food-menu-img {
  width: 20%;
  float: left;
}

.food-menu-desc {
  width: 70%;
  float: left;
  margin-left: 8%;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
}

/* food menu ends */

/*  Order */
.order {
  width: 50%;
  margin: 0 auto;
}
.input-responsive {
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.order-label {
  margin-bottom: 1%;
  font-weight: bold;
}
/* order ends */

/*  Food search  */

.food-search {
  background-image: none;
  background-color: #fafafa;
}

/* food search ends */

/*  Food Menu */
.food-menu {
  background-color: #ececec;
  padding: 4% 0;
}
.food-menu-box {
  width: 43%;
  margin: 1%;
  padding: 2%;
  float: left;
  background-color: white;
  border-radius: 15px;
}

.food-menu-img {
  width: 20%;
  float: left;
}

.food-menu-desc {
  width: 70%;
  float: left;
  margin-left: 8%;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
}
/* food menu ends */

/*  Social */
.social ul {
  list-style-type: none;
}
.social ul li {
  display: inline;
  padding: 1%;
}
/* social ends */

/*  Order  */
.order {
  width: 50%;
  margin: 0 auto;
}
.input-responsive {
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 1rem;
}
.order-label {
  margin-bottom: 1%;
  font-weight: bold;
}
/* order  ends */

/* Responsive design */

@media only screen and (max-width: 768px) {
  .food-menu {
    padding: 20% 0;
  }

  .food-menu-box {
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
  }
}
/* Responsive design ends */
